# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
*.egg-info/
.pytest_cache/
htmlcov/

# Node
frontend/node_modules/
frontend/dist/

# Envs
.env
backend/.env
frontend/.env

# DB & media (local only; don’t commit)
backend/db.sqlite3
backend/media/

# OS/Editor
.DS_Store
.vscode/
.idea/
